<nav class="navbar navbar-custom navbar-expand-md navbar-dark" style="background-color:black;">
  <a class="navbar-brand" href="#home"><img width="40" alt="Angular Logo" src="../assets/icon.jpg" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#home" title="home">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about" title="About">
          About Me
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#experience">Internship</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#education">Education</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="#skill">Skills</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#work">My Work</a>
      </li>


    </ul>
  </div>
</nav>



<div class="container" style="margin-top:120px;">
  <div class="row">


    <!-- Profile Pic -->
    <div class="col-12">

      <div class="text-center" id="home">
        <img src="../assets/swathi.jpg" class="rounded-circle img-responsive" width="250" height="250" />
      </div>

      <div class="text-center">
        <h2 class="myname">Swathi Acharya</h2>
      </div>

      <div class="text-center">
        <a href="https://www.linkedin.com/in/swathi-acharya-2b9b29169/" class="home__social-icon">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="https://github.com/swathiacharya" class="home__social-icon">
          <i class="fa fa-github-square"></i>
        </a>

        <a href="mailto: acharyaswathi999@gmail.com" class="home__social-icon">
          <i class="fa fa-envelope-square"></i>
        </a>

      </div>
    </div>

    <div class="col-12">
      <hr>
    </div>

    <!-- ABOUT ME -->
    <div class="col-12">
      <section class="titleName" id="about" style="width: 100%;">

        <span class="textFormat text-center"><i class="fa fa-user" style="padding-right: 5px;"></i>About Me</span>

        <div class="text-justify;" style="padding-top:10px;">
          <p style="text-align: justify;">I am a final year undergraduate in the field of Computer Science and Engineering, with an
            Optimistic personality with team leadership & cooperation skills, a big load of innovative ideas which I am Looking forward to putting to work in the upcoming years.
            I have been dabbling with web and App development for the past few years and have loved every bit of it. 
            I get trilled in solving problems, which leads me to learn new technologies.           
          <br>
        Other than this, I love to sing  <i class="fa fa-music"
              style="padding-right: 5px;"></i>
              and play the guitar <span class="iconify" data-icon="fa-solid:guitar" data-inline="false"></span>.
              I spend my time reading novels. <span class="iconify" data-icon="bx:bxs-book-reader" data-inline="false"></span>.</p>
        </div>
      </section>
    </div>

    <!-- Experience/Internship -->
    <div class="col-12">
      <section class="titleName" id="experience" style="width: 100%;">

        <span class="textFormat">
          <span class="iconify" data-icon="ic:baseline-work" data-inline="false"></span> Internship
        </span>

        <div style="padding-top:10px;">

          <div class="row">
            <div class="col-md-6">
              <p-card styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                  
                    <img alt="Card" class = "imgcenter"src="../assets/internship/infy.png" style="height: 180px; width:50%;">
              
                 
                    </ng-template>

                <div class="internshipClass">
                  <div style="float:left"><b>Infosys Ltd</b></div>
                  <div style="float: right;">India</div>
                </div>


                <br>
                <div class="internshipClass">
                  <div style="float:left">System Engineer Trainee</div>
                  <div style="float: right;">Feb,2021-May,2021</div>
                </div>

                <br>


                <ng-template pTemplate="footer">
                  <ul>
                    <li>
                      Worked in Project named TraineeAssistance Workspace.
                    </li>
                    <li><b>Tool/Language : </b> RestAPI, MySQL, Java, Html, CSS, Typescript, Bootstrap.
                    </li>

                  </ul>
                </ng-template>

              </p-card>
            </div>


            <div class="col-md-6">
              <p-card styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                  <img alt="Card" src="../assets/internship/healthelife.png" class="imgcenter"
                  style="height: 180px; width:50%;">
                </ng-template>

                <div class="internshipClass">
                  <div style="float:left"><b>HealtheLife Ventures LLP</b></div>
                  <div style="float: right;">India</div>
                </div>



                <br>
                <div class="internshipClass">
                  <div style="float:left"> Web Developer</div>
                  <div style="float: right;">Jul, 2020-Nov, 2020</div>
                </div>


                <ng-template pTemplate="footer">
                  <ul>
                    <li>
                      Worked on the live web based project.
                    </li>
                    <li><b>Tool/Language : </b> Html, CSS, Typescript, Bootstrap, Angular, Nebular Library.
                    </li>

                  </ul>
                </ng-template>


                <br>

              </p-card>
            </div>
          </div>
        </div>
      </section>
    </div>



    <!-- EDucation -->
    <div class="col-12">
      <section class="titleName" id="education" style="width: 100%;">

        <span class="textFormat">
          <i class="iconify" data-icon="ion:school-sharp" data-inline="false" style="padding-right: 5px;"></i>Education
        </span>

        <div style="padding-top:10px;">

          <p-accordion>
            <p-accordionTab header="Bachelor of Engineering">
              <div class="educationClass">
                <div class="col-12" style="text-align: center;">
                  <p class="nameEdu">{{be.name}}
                    <br>
                    {{be.place}}</p>
                </div>

              </div>
              <div class="educationClass">
                <div class="col-12 " style="width: 100%;">
                  
                    <p class="subEdu"><b>Course : </b>{{be.course}}
                      <br>
                      <b>Year : </b>{{be.time}}
                      <br>
                      <b>CGPA : </b> {{be.mark}}
                    </p>
                  
                  
                </div>
              </div>

            </p-accordionTab>
            <p-accordionTab header="Pre University Course">
              <div class="educationClass">
                <div class="col-12" style="text-align: center;">
                  <p class="nameEdu">

                    {{puc.name}}
                  <br>
                  {{puc.place}}
                  </p>
                  
                </div>

              </div>
              <div class="educationClass">
                <div class="col-12" style="width: 100%;">

                  <p class="subEdu">
                  <b>Course : </b>{{puc.course}}
                  <br>
                  <b>Year : </b>{{puc.time}}
                  <br>
                 <b> Percentage : </b>{{puc.mark}}
                </p>
                </div>
              </div>
            </p-accordionTab>
            <p-accordionTab header="School">
              <div class="educationClass">
                <div class="col-12" style="text-align: center;">
                  <p class="nameEdu">
                  {{school.name}}
                  <br>
                  {{school.place}}

                </p>
                </div>

              </div>
              <div class="educationClass">
                <div class="col-12" style="width: 100%;">
                  <p class="subEdu"><b>Year : </b>{{school.time}}<br>
                    <b>Percentage : </b> {{school.mark}}
                  </p>
                </div>
              </div>
            </p-accordionTab>
          </p-accordion>


        </div>
      </section>
    </div>
   
    

    <!-- Skills -->
    <div class="col-md-12">
      <section class="titleName" id="skill" style="width: 100%;">
        
          <span class="textFormat">
            <i class="iconify" data-icon="ant-design:star-filled" data-inline="false"  style="padding-right: 5px;"></i>Skills
          </span>
        
        <div style="padding-top:10px;">
         <p class="skillName">Language :</p>

         <div class="containerSkill">
          <div class="items"> 
            <div class="skillBox">
            <span class="iconify" data-icon="logos:java" data-inline="false"></span>
            <br>
            Java
            </div> 
          </div>
          <div class="items">   
            <div class="skillBox">
              <span class="iconify" data-icon="logos:python" data-inline="false"></span>
              <br>
              Python
            </div>
          </div>
          <div class="items">  
            <div class="skillBox">
              <span class="iconify" data-icon="vscode-icons:file-type-css" data-inline="false"></span>
              <br>
              CSS
            </div>
          </div>
          <div class="items">   
            <div class="skillBox">
              <span class="iconify" data-icon="logos:html-5" data-inline="false"></span>
              <br>
              HTML
            </div>
          </div>
          <div class="items">  
            <div class="skillBox">
              <span class="iconify" data-icon="teenyicons:typescript-solid" data-inline="false"></span>
              <br>

              Typescript
            </div>
          </div>
        
          
      </div>

      <p class="skillName">Frameworks :</p>
      <div class="containerSkill">
        <div class="items"> 
          <div class="skillBox">
            <span class="iconify" data-icon="bx:bxl-spring-boot" data-inline="false"></span>
            <br>
            Spring Boot
          </div>
        </div>
        <div class="items"> 
          <div class="skillBox">
            <span class="iconify" data-icon="logos:angular-icon" data-inline="false"></span>
            <br>
            Angular
          </div>
        </div>
        <div class="items"> 
          <div class="skillBox">
            <span class="iconify" data-icon="logos:bootstrap" data-inline="false"></span>
            <br>
            Bootstrap
          </div>
        </div>

      </div>

        


      




        <p class="skillName">Database/Tool :</p>
          <div class="containerSkill">
            <div class="items">
              <div class="skillBox">
                <span class="iconify" data-icon="logos:github-icon" data-inline="false"></span>
                <br>
                GitHub
              </div>
            </div>


            <div class="items">
              <div class="skillBox">
                <span class="iconify" data-icon="logos:mysql" data-inline="false"></span>
                <br>
                MySQL
              </div>
            </div>

            <div class="items">
              <div class="skillBox">
                <span class="iconify" data-icon="logos:firebase" data-inline="false"></span><br>
                Firebase
              </div>
            </div>

            <div class="items">
              <div class="skillBox">
                <span class="iconify" data-icon="simple-icons:canva" data-inline="false"></span>
                <br>
                Canva
              </div>
            </div>




          </div>

        </div>
      </section>
    </div>



    <!-- Work -->

    <div class="col-12">
      <section class="aboutClass" id="work" style="width: 100%;">
        
          <span class="textFormat">
            <i class="iconify" data-icon="fa-solid:laptop-code" data-inline="false" style="padding-right: 5px;"></i> My Work
          </span>
       
        <div style="padding-top:10px;">


          <p-tabView>



            <p-tabPanel header="Project">
              <ul class="projectStyle">
                <li *ngFor="let pro of projectDetail">
                  <span class="proTitle">{{pro.projectName}}</span>
                  <br>
                  <span class="proSub">{{pro.subname}}
                    <br> {{pro.date}}</span>
                      
                    

                
                  <br>
<div>

  <span class="proPoint">Abstract : </span> <span class="proPara">  {{pro.descrption}}</span> 
  <br>


  <span class="proPoint">language & Tool: </span> <span class="proPara"> {{pro.languageTool}}</span> 
  <br>


</div>
                      
                  
                </li>
              </ul>
            </p-tabPanel>

            <p-tabPanel header="Certification">
              <div class="row">
                <div class="col-md-6 imgCol" *ngFor="let imgs of images">
                  <img class="rounded img-fluid imgCertificate" src={{imgs}}>
                </div>
              </div>
            </p-tabPanel>


            <p-tabPanel header="Technical Writting">
              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table class="table table-hover">

                      <tbody>
                        <tr *ngFor="let val of article">
                          <td>{{val.name}}</td>
                          <td><a href={{val.link}} style="color:#2e4ead;border:none"> <i class="fa fa-book"
                                style="color: #2e4ead;"> &nbsp;Click To Read</i></a></td>
                        </tr>
                      </tbody>

                    </table>
                  </div>
                </div>
              </div>
            </p-tabPanel>
          </p-tabView>




        </div>
      </section>
    </div>

    
  </div>

  <div class="footer text-center">
    Designed By : Swathi Acharya
  </div>
</div>